<div class="row">
  <div class="col-md-12">
    <div class="card text-center" style="margin-top: 15px;">
      <div class="card-header" style="font-size: 24px;">
        <strong>{{ reptile.name }}</strong>
      </div>
      <div class="card-body">
        <img style="max-width: 500px;width: 100%;" *ngIf="reptile.photo" [src]="reptile.photo">
        <h5 class="card-title">{{ reptile.species }} ({{ reptile.gender }})</h5>
        <p class="card-text">{{ reptile.note }}</p>
      </div>
      <div class="card-footer text-muted">
        Né(e) le {{ reptile.birthday }}
      </div>
    </div>
    <button class="btn btn-primary" (click)="onBack()" style="margin: 15px auto 0 auto;display: block;">
      Retour à la liste
    </button>
  </div>
</div>
