<loading-spinner *ngIf="!reptile.name"></loading-spinner>
<div class="row justify-content-md-center" *ngIf="reptile.name">
  <div class="col-md-8">
    <div class="card" style="margin-top: 15px;">
      <div class="card-header text-center" style="font-size: 24px;">
        <strong>{{ reptile.name }}</strong>
      </div>
      <div class="card-body">
        <img style="width: 100%;display: block;margin:0 auto;" *ngIf="reptile.photo" [src]="reptile.photo">
        <h5 class="card-title text-center">{{ reptile.vernacular }} ({{ reptile.species }})</h5>
        <p class="card-text">
          <strong>Sexe :</strong> {{ reptile.gender }}
          <br>
          <strong>Date de naissance :</strong> {{ reptile.birthday | date : "dd/MM/yyyy" }}
          <br>
          <strong>Provenance :</strong> {{ reptile.origin }}
          <br>
          <strong>Date d'entrée :</strong> {{ reptile.date_start | date : "dd/MM/yyyy" }}
          <br>
          <strong>Justificatif d'entrée :</strong> {{ reptile.supporting_start }}
          <br>
          <strong>Observation :</strong><br>
          {{ reptile.note }}
        </p>
        <h4 *ngIf="reptile.destination || reptile.date_end || reptile.supporting_end">Sortie :</h4>
        <p class="card-text">
          <span *ngIf="reptile.destination">
            <strong>Destination :</strong> {{ reptile.destination }}
            <br>
          </span>
          <span *ngIf="reptile.date_end">
            <strong>Date de sortie :</strong> {{ reptile.date_end | date : "dd/MM/yyyy" }}
            <br>
          </span>
          <span *ngIf="reptile.death">
            <strong>Cause de la mort :</strong> {{ reptile.death }}
            <br>
          </span>
          <span *ngIf="reptile.supporting_end">
            <strong>Justificatif de sortie :</strong> {{ reptile.supporting_end }}
            <br>
          </span>
        </p>
      </div>
    </div>
    <div class="text-center" style="margin-top: 10px;">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning" (click)="onEditReptile()"
        *ngIf="!reptile.destination && !reptile.date_end && !reptile.supporting_end">
          Modifier les informations
        </button>
        <button type="button" class="btn btn-danger" (click)="onEndReptile()"
        *ngIf="!reptile.destination && !reptile.date_end && !reptile.supporting_end">
          Déclarer sa sortie
        </button>
        <button class="btn btn-primary" (click)="onBack()">
          Retour à la liste
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2 class="text-center" style="margin-top: 15px;">Les derniers suivis</h2>
    <button type="button" class="btn btn-success" (click)="onShowSuivisByYear(todayYear)"
    style="margin: 10px auto ;display: block;">
      Afficher les suivis
    </button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Date</th>
            <th class="text-center">Commentaire</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="suivis">
          <tr *ngFor="let suivi of suivis; let i = index">
            <td class="text-center">{{ suivi.action }}</td>
            <td class="text-center">{{ suivi.date | date : "dd/MM/yyyy" }}</td>
            <td class="text-center">{{ suivi.note }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-danger" (click)="onDeleteSuivi(idSuivis[i])">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <loading-spinner *ngIf="showLoadingSuivis"></loading-spinner>
  </div>
</div>
