<div class="row">

  <div class="col-md-12">
    <h1 class="text-center">Reptiles</h1>
    <p class="text-center" *ngIf="reptiles.length < 1">Aucun reptile en base</p>
    <div class="row justify-content-md-center">

      <div class="col-md-4" *ngFor="let reptile of reptiles; let i = index">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" *ngIf="reptile.photo" [src]="reptile.photo">
          <div class="card-body">
            <h5 class="card-title">{{ reptile.name }}</h5>
            <h6 class="card-subtitle mb-2">
              {{ reptile.vernacular }} ({{ reptile.species }})
            </h6>
            <p class="card-text">
              <small class="text-muted" *ngIf="reptile.gender == 'mâle'">
                ({{ reptile.gender }}) Né le {{ reptile.birthday | date : "dd/MM/yyyy" }}
              </small>
              <small class="text-muted" *ngIf="reptile.gender == 'femelle'">
                ({{ reptile.gender }}) Née le {{ reptile.birthday | date : "dd/MM/yyyy" }}
              </small>
            </p>
            <button  type="button" class="btn btn-primary" (click)="onViewReptile(i)" style="margin-right: 5px;">
              Voir fiche
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#reptile'+i">
              Supprimer
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" [attr.id]="'reptile'+i" tabindex="-1" role="dialog" [attr.aria-labelledby]="'reptileLabel'+i"
  aria-hidden="true" *ngFor="let reptile of reptiles; let i = index">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [attr.id]="'reptileLabel'+i">Suppression d'une fiche</h5>
      </div>
      <div class="modal-body">
        Êtes vous sûr de vouloir supprimer la fiche "{{ reptile.name }}" ?
        <br>
        Toutes les données seront perdues.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button class="btn btn-danger" (click)="onDeleteReptile(reptile)" data-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>
